@font-face {
  font-family: 'font-awesome';
  src: url('../fonts/font-awesome.eot?test');
  src: url('../fonts/font-awesome.eot?test#iefix') format('embedded-opentype'), url('../fonts/font-awesome.woff?test') format('woff'), url('../fonts/font-awesome.ttf?test') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^='iconfont-font-awesome-']::before, [class*=' iconfont-font-awesome-']::before, [class^='iconfont-before-font-awesome-']::before, [class*=' iconfont-before-font-awesome-']::before, [class^='iconfont-after-font-awesome-']::after, [class*=' iconfont-after-font-awesome-']::after {
  font-family: 'font-awesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-display: swap;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont-font-awesome-backward::before {
  content: '\EA01';
}
.iconfont-before-font-awesome-backward::before {
  content: '\EA01';
}
.iconfont-after-font-awesome-backward::after {
  content: '\EA01';
}
.iconfont-font-awesome-fast-backward::before {
  content: '\EA02';
}
.iconfont-before-font-awesome-fast-backward::before {
  content: '\EA02';
}
.iconfont-after-font-awesome-fast-backward::after {
  content: '\EA02';
}
.iconfont-font-awesome-fast-forward::before {
  content: '\EA03';
}
.iconfont-before-font-awesome-fast-forward::before {
  content: '\EA03';
}
.iconfont-after-font-awesome-fast-forward::after {
  content: '\EA03';
}
.iconfont-font-awesome-forward::before {
  content: '\EA04';
}
.iconfont-before-font-awesome-forward::before {
  content: '\EA04';
}
.iconfont-after-font-awesome-forward::after {
  content: '\EA04';
}
.iconfont-font-awesome-pause::before {
  content: '\EA05';
}
.iconfont-before-font-awesome-pause::before {
  content: '\EA05';
}
.iconfont-after-font-awesome-pause::after {
  content: '\EA05';
}
.iconfont-font-awesome-play::before {
  content: '\EA06';
}
.iconfont-before-font-awesome-play::before {
  content: '\EA06';
}
.iconfont-after-font-awesome-play::after {
  content: '\EA06';
}
.iconfont-font-awesome-step-backward::before {
  content: '\EA07';
}
.iconfont-before-font-awesome-step-backward::before {
  content: '\EA07';
}
.iconfont-after-font-awesome-step-backward::after {
  content: '\EA07';
}
.iconfont-font-awesome-step-forward::before {
  content: '\EA08';
}
.iconfont-before-font-awesome-step-forward::before {
  content: '\EA08';
}
.iconfont-after-font-awesome-step-forward::after {
  content: '\EA08';
}
.iconfont-font-awesome-stop::before {
  content: '\EA09';
}
.iconfont-before-font-awesome-stop::before {
  content: '\EA09';
}
.iconfont-after-font-awesome-stop::after {
  content: '\EA09';
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?test');
  src: url('../fonts/icomoon.eot?test#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff?test') format('woff'), url('../fonts/icomoon.ttf?test') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^='iconfont-icomoon-']::before, [class*=' iconfont-icomoon-']::before, [class^='iconfont-before-icomoon-']::before, [class*=' iconfont-before-icomoon-']::before, [class^='iconfont-after-icomoon-']::after, [class*=' iconfont-after-icomoon-']::after {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-display: swap;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont-icomoon-arrow-down::before {
  content: '\EA01';
}
.iconfont-before-icomoon-arrow-down::before {
  content: '\EA01';
}
.iconfont-after-icomoon-arrow-down::after {
  content: '\EA01';
}
.iconfont-icomoon-arrow-down-left::before {
  content: '\EA02';
}
.iconfont-before-icomoon-arrow-down-left::before {
  content: '\EA02';
}
.iconfont-after-icomoon-arrow-down-left::after {
  content: '\EA02';
}
.iconfont-icomoon-arrow-down-right::before {
  content: '\EA03';
}
.iconfont-before-icomoon-arrow-down-right::before {
  content: '\EA03';
}
.iconfont-after-icomoon-arrow-down-right::after {
  content: '\EA03';
}
.iconfont-icomoon-arrow-left::before {
  content: '\EA04';
}
.iconfont-before-icomoon-arrow-left::before {
  content: '\EA04';
}
.iconfont-after-icomoon-arrow-left::after {
  content: '\EA04';
}
.iconfont-icomoon-arrow-right::before {
  content: '\EA05';
}
.iconfont-before-icomoon-arrow-right::before {
  content: '\EA05';
}
.iconfont-after-icomoon-arrow-right::after {
  content: '\EA05';
}
.iconfont-icomoon-arrow-up::before {
  content: '\EA06';
}
.iconfont-before-icomoon-arrow-up::before {
  content: '\EA06';
}
.iconfont-after-icomoon-arrow-up::after {
  content: '\EA06';
}
.iconfont-icomoon-arrow-up-left::before {
  content: '\EA07';
}
.iconfont-before-icomoon-arrow-up-left::before {
  content: '\EA07';
}
.iconfont-after-icomoon-arrow-up-left::after {
  content: '\EA07';
}
.iconfont-icomoon-arrow-up-right::before {
  content: '\EA08';
}
.iconfont-before-icomoon-arrow-up-right::before {
  content: '\EA08';
}
.iconfont-after-icomoon-arrow-up-right::after {
  content: '\EA08';
}
